*{
    direction: ltr !important;
}
.search-t {
    border-radius: 20px 0 0 20px;
}
.search-b{
    border-radius: 0 20px 20px 0;
}
.b-l {
    border-left: none;
    border-right: 1px solid #CCCCCC;
}
.f-aws{
    margin-left: 0;
    margin-right: 1rem
}
.text-c{
    left: 100%
}
.test{
    right: 0;
    left: 2.6rem;
}
.about-us h5,.our-serve h5,.m-w-top h5,.said-about-us h5,.co-p h5,.for-ltr h5{
    position: relative
}
.text-con,.text-c{
    left: 0;
}
.our-goals ul li p span{
    margin-left: 0rem;
    margin-right: 1rem;
}
.our-goals ul{
    padding-left: 0
}
.our-goals ul li p{
    justify-content: flex-start
}
.contact-us-f button img {
    margin-left: 0;
    margin-right: 0.5rem;
}
.footer-ul{
    padding-left: 0
}
.l-s-f li i {
    margin-right: 0rem;
    margin-left: 1rem;
}
.phone-n input {
    padding-left: 1rem;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    border-left: 1px !important;
    margin-right: 0 !important;
    padding-right: 0;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none !important;
}
.flag-img {
    border: 1px solid #ced4da;
    border-right: 1px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
}
.switch-field label i {
    margin-right: 5px;
    margin-left: 0
}
select.minimal{
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
}
.form-check-input {
    margin-left:  -1.25rem;
    margin-right: 0;
}
.form-check {
    padding-right: 0;
    padding-left: 1.25rem;
}
header .user-name img{
    margin-right: 5px;
    margin-left: 0
}
.ltr-rtl{
    padding-left: 0;
    padding-right: 1rem
}
.add-serv button i {
    margin-right: 5px;
    margin-left: 0
}
.add-serv {
    padding: 0 15px 30px 0;
}
header .dropdown-menu {
    left: 10px;
    right: 100%;
}
.ml-lang{
    margin-right: auto;
    margin-left: 0
}
.mr-lang{
    margin-left: auto;
    margin-right: 0
}
.chat-p{
    padding-left: 0;
    padding-right: 1rem;
}
.m-lang{
    margin-left: 2rem;
    margin-right: 0 !important
}
.ch-messsage{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0
}
.l-litter .ch-messsage{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 15px
}
.siting-body .flag-img {
    border-right: 1px;
    border-left: 0;
}
.edit-c{
    right: 5%;
    left: auto;
}
.most-l a:last-of-type {
    margin-right: 0px;
    margin-left: 1rem;
}
.star{
    padding-right: 1rem;
    padding-left: 0
}
.confirm-order-page label img{
    margin-left: 0;
    margin-right: 10px
}
.pr-lang{
    padding-right: 1rem !important;
    padding-left: 0rem !important
}
.notificationDiv{
    direction: rtl !important;
    right: 0;
    left: 0;
}
.Webnotification {
    direction: rtl
}